<manifest package="me.zhouzhuo810.magpiex"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:targetApi="p">
        <activity
            android:name=".ui.act.CopyUrlActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            />

        <activity android:name="com.tencent.mm.ui.tools.ShareImgUI"
            tools:ignore="MissingClass" />
        <activity android:name="com.tencent.mobileqq.activity.JumpActivity"
            tools:ignore="MissingClass" />
    </application>
</manifest>
